.idea
bin
obj
appsettings.json
appsettings.Development.json
appsettings*
.vs
*.user
*.suo
*.userosscache
*.sln.docstates
*.nupkg
packages/
ClientApp
*.log
*.vspscc
TestResults
Uploads
wwwroot/lib
Dockerfile