@model IEnumerable<CartListView>
@{
    Layout = "/Views/Shared/_Layout.cshtml";
}

<div>
    <p class="fs-1 mb-0 text-start">Корзина</p>
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">Id продукта</th>
            <th scope="col">Название продукта</th>
            <th scope="col">Количество</th>
            <th scope="col">Стоимость</th>
        </tr>
        </thead>
        <tbody>
        @foreach (CartListView product in Model)
        {
            <tr>
                <th scope="row">@product.Product.Id</th>
                <td>@product.Product.Name</td>
                <td>@product.Quantity</td>
                <td>@product.SumTotal</td>
            </tr>
        }
        </tbody>
    </table>
</div>